[path]
;csv_path=data/AIS_dataset
csv_path=data/mini_dataset
total_csv_file=data/total.csv
;csv_path=G:/AIS_dataset
data_path=./data
res_path=result
test_file=data/mini_dataset/10_20191002.csv
test_png_path=test_png
model_file=result/Thu May  7 18:28:25 2020/lstm4pre150.pkl

;未写入程序
[data-pre-treatment]
;最小轨迹
min_route=5
;数据'time'开始计时的初始时间
base_time='2019-10-01 00:00:00'
;同一艘船的最大间隔时间,超过后认定为两条轨迹,默认不超过6h
max_gap=21600

[super-param]
lr=0.0001
epoch = 10000
batch_size=128
gpu_ids=1